/***************************************************************************************************************
||||||||||||||||||||||||||             Created By: Austin Dickey                 |||||||||||||||||||||||||||||||
****************************************************************************************************************
||||||||||||||||||||||||||||               Table of Contents                 |||||||||||||||||||||||||||||||||||
****************************************************************************************************************
****************************************************************************************************************
* 1. Body
* 2. Login
* 3. NavBar
* 4. Home Page
* 5. Search Bar
* 6. Showing For
* 7. Results
* 8. Favorites
* 9. Single Film Details
* 10. Features Search
* 11. Footer
****************************************************************************************************************
||||||||||||||||||||||||||||            End Table of Contents               ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************/



/* =================================
            Body
================================= */

body {
    background-image: url(../img/bg.png);
    font-family: 'Dosis', sans-serif;
}

/* This hides the footer on longer pages until the user reaches the bottom of the page. */
.contentHolder {
    z-index: 1;
    background-image: url(../img/bg.png);
}

/* =================================
            Login
================================= */

.loginBox,
.createAccount {
    width: 350px;
    margin: 50px auto;
    text-align: center;
    background-image: url(../img/banner.png);
    padding: 35px 50px;
    text-align: center;
    border: 5px solid #525252;
    border-radius: 8px;
}

#existingUsers,
#createHeader {
    margin-bottom: 25px;
}

#newUsers {
    margin-top: 25px;
    margin-bottom: 15px;
}

#loginUsername,
#loginPassword,
#newPassword,
#verifyPassword,
#createEmail {
    width: 250px;
}

#loginSubmit,
#createSubmit {
    margin: 15px auto;
}

/* =================================
            NavBar
================================= */

.fa-bars {
    color: #F66363;
    padding: 7px;
    border: 2px solid #F66363;
    border-radius: 6px;
}

.navbar {
    background-color: #525252;
    color: #fff;
}

.navbar-nav a {
    color: #fff;
}

.navbar-nav a:hover {
    text-decoration: none;
    color: #F66363;
}

.navbar-nav .active {
    color: #F66363;
}

.logo img {
    padding: 5px 15px;
    height: 75px;
}

.divider:after {
    content: "|";
    color: #fff;
}

#loggedInAs {
    margin: auto 20px auto 0;
}

#loggedInAs span {
    color: #F66363;
    font-weight: 500;
}

#logoutButton {
    margin: auto 25px auto 0;
}

.loggedInFalse {
    margin: 0;
    padding: 0;
    height: 0;
}

.loggedInTrue {
    position: absolute; 
    right: 0;
}

.redLine {
    display: none;
}

/* =================================
            Home Page
================================= */

#homeLogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#homeLogo img {
    width: 25%;
    height: 25%;
    margin: 25px 0;
}

#aboutUs {
    background-image: url(../img/banner.png);
    padding: 35px 50px;
    text-align: center;
    border: 5px solid #525252;
    border-radius: 8px;
    margin-bottom: 50px;
}

#dataFrom {
    font-style: italic;
    color: #F66363;
    margin-bottom: 0;
}

/* =================================
            Search Bar
================================= */

#searchBox {
    background-image: url(../img/banner.png);
    margin-top: 50px;
    padding: 35px 50px;
    text-align: center;
    border: 5px solid #525252;
    border-radius: 8px;
}

#searchBox form,
#searchBox .form-inline,
#searchBox .form-group {
    width: 100%;
}

#searchQuery {
    width: 80%;
    margin: 25px auto;
} 

#movieSearchButton {
    margin: auto;
}

/* =================================
            Showing For
================================= */

#showingFor {
    background-image: url(../img/banner.png);
    margin-bottom: 50px;
    padding: 35px 50px;
    text-align: center;
    border: 5px solid #525252;
    border-radius: 8px;
}

#showingFor h3 {
    margin-bottom: 30px;
}

#showingForButtons {
    margin: 0 auto;
}

#showingForButtons button {
    margin: 0 10px;
}

.showingForFilmData {
    margin: 15px 10px;
    text-align: center;
}

.showingForFilmData h5 {
    max-width: 200px;
    margin: 8px auto;
}

.showingForFilmData img {
    min-width: 200px;
    min-height: 300px;
    max-width: 200px;
    max-height: 300px;
    margin: 0 auto;
    border: 5px solid #F66363;
}

/* =================================
            Results
================================= */

.noResults {
    background-image: url(../img/banner.png);
    width: 100%;
    padding: 35px 50px;
    text-align: center;
    border: 5px solid #525252;
    border-radius: 8px;
    margin-bottom: 20px;
}

#yourRecs {
    width: 100%;
    margin-bottom: 25px;
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 50px 0;
    text-align: center;
}

.singleResult {
    margin: 15px 10px;
    text-align: center;
}

.buttonHolder{
    max-width: 200px;
}

.buttonHolder button{
    margin-bottom: 10px;
}

.singleResult h5 {
    max-width: 200px;
    margin: 8px auto;
}

.singleResult img {
    min-width: 200px;
    min-height: 300px;
    max-width: 200px;
    max-height: 300px;
    margin: 0 auto;
    border: 5px solid #F66363;
}

.filmYear {
    font-style: italic;
    margin-bottom: 8px;
}

/* =================================
            Favorites
================================= */

.favResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 50px 0;
    text-align: center;
    padding: 25px 0;
    border: 5px solid #525252;
    border-radius: 8px;
    background-image: url(../img/banner.png);
}

.favResults2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 50px 0;
    text-align: center;
    padding: 25px 0;
    border: 5px solid #525252;
    border-radius: 8px;
    background-image: url(../img/banner.png);
}

.generateRecommendations {
   width: 100%;
   margin: 0 0 25px 0;
}

/* =================================
        Single Film Details
================================= */

#filmDetails {
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
}

#filmDetailsPic {
    max-width: 100%;
    border: 5px solid #F66363;
}

#data {
    padding: 0 25px;
    width: 100%;
}

#data span {
    font-style: italic;
    color: #F66363;
    font-weight: 500;
}

#filmActors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.singleActor {
    margin: 10px;
}

#filmActors h5 {
    max-width: 175px;
    margin: 15px auto 8px auto;
}

.singleActorPic {
    min-width: 175px;
    min-height: 264px;
    max-width: 175px;
    max-height: 264px;
    margin: 0 auto;
    border: 5px solid #F66363;
}

.characterName {
    font-style: italic;
    max-width: 175px;
    margin: 15px auto 0px auto;
}

.saveMovie {
    margin-right: 10px;
}

/* =================================
        Features Search
================================= */

#featuresTitle {
    background-image: url(../img/banner.png);
    margin-top: 50px;
    padding: 35px 50px;
    text-align: center;
    border: 5px solid #525252;
    border-radius: 8px;
}

#formBody {
    width: 40%;
    margin: 50px auto;
}

#featuresSubmit {
    margin: 0 auto;
}

/* =================================
            Footer
================================= */

#clearFix {
    height: 50px;
}

footer {
    width: 100%;
    height: 50px;
    background-color: #525252;
    color: #fff;
    text-align: center;
    padding-top: 13px;
    font-size: 18px;
    position: fixed;
    bottom: 0;
    z-index: -1;
}

footer a {
    color: #F66363;
}

footer a:hover {
    text-decoration: none;
    color: #c82333;
}