/* =================================
            Body
================================= */

body {
    /* background-image: url(../img/bg.png); */
}

.contentHolder {
    min-height: calc(100vh - 266px);
}

/* =================================
            Login
================================= */

.loginBox,
.createAccount {
    width: 350px;
    margin: 50px auto;
    text-align: center;
    /* background-image: url(../img/banner.png); */
    padding: 35px 50px;
    text-align: center;
    border: 5px solid #525252;
    border-radius: 8px;
}

#existingUsers,
#createHeader {
    margin-bottom: 25px;
}

#newUsers {
    margin-top: 25px;
    margin-bottom: 15px;
}

#loginUsername,
#loginPassword,
#newPassword,
#verifyPassword,
#createEmail {
    width: 250px;
}

#loginSubmit,
#createSubmit {
    margin: 15px auto;

}

/* =================================
            NavBar
================================= */

.navbar {
    background-color: #525252;
    color: #fff;
}

.navbar-nav a {
    color: #fff;
}

.navbar-nav a:hover {
    text-decoration: none;
    color: #F66363;
}

.navbar-nav .active {
    color: #F66363;
}

.logo img {
    padding: 5px 15px;
    height: 75px;
}

.navbar-nav a::after {
    content: "|";
    padding-left: 15px;
    color: #fff;
}

.navbar-nav a:last-child:after {
    content: " ";
}

/* =================================
            Search Bar
================================= */

#searchBox {
    /* background-image: url(../img/banner.png); */
    margin-top: 50px;
    padding: 35px 50px;
    text-align: center;
    border: 5px solid #525252;
    border-radius: 8px;
}

#searchBox form,
#searchBox .form-inline,
#searchBox .form-group {
    width: 100%;
}

#searchQuery {
    width: 80%;
    margin: 25px auto;
} 

#movieSearchButton {
    margin: auto;
}

/* =================================
            Results
================================= */

#noResults {
    width: 100%;
    padding: 35px 50px;
    text-align: center;
    border: 5px solid #525252;
    border-radius: 8px;
    margin-bottom: 20px;
}

#yourRecs {
    width: 100%;
    margin-bottom: 25px;
}

#results {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px auto;
    text-align: center;
}

.singleResult {
    margin: 10px;
    text-align: center;
}

.buttonHolder{
    max-width: 200px;
}

.buttonHolder button{
    margin-bottom: 10px;
}

.singleResult h5 {
    max-width: 200px;
    margin: 15px auto 8px auto;
}

.singleResult img {
    min-width: 200px;
    min-height: 300px;
    max-width: 200px;
    max-height: 300px;
    margin: 0 auto;
    border: 5px solid #F66363;
}

.filmYear {
    font-style: italic;
}

/* =================================
        Single Film Details
================================= */

#filmDetails {
    /* width: 100%; */
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
}

#filmDetailsPic {
    max-width: 100%;
    border: 5px solid #F66363;
}

#data {
    padding: 0 25px;
    width: 100%;
}

.singleFilmDate,
#data span {
    font-style: italic;
    color: #F66363;
}

#filmActors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.singleActor {
    margin: 10px;
}

#filmActors h5 {
    max-width: 175px;
    margin: 15px auto 8px auto;
}

.singleActorPic {
    min-width: 175px;
    min-height: 264px;
    max-width: 175px;
    max-height: 264px;
    margin: 0 auto;
    border: 5px solid #F66363;
}

.characterName {
    font-style: italic;
    max-width: 175px;
    margin: 15px auto 0px auto;
}

/* =================================
        Occasion Search
================================= */

#occasionTitle {
    /* background-image: url(../img/banner.png); */
    margin-top: 50px;
    padding: 35px 50px;
    text-align: center;
    border: 5px solid #525252;
    border-radius: 8px;
}

#formBody {
    width: 40%;
    margin: 50px auto;
}

/* =================================
            Footer
================================= */

footer {
    width: 100%;
    height: 75px;
    background-color: #525252;
    color: #fff;
    text-align: center;
    padding-top: 25px;
    font-size: 18px;
}

footer a {
    color: #F66363;
}

footer a:hover {
    text-decoration: none;
    color: #fff;
}